+init() {
    .container {
        max-width: toUnit(1200);
        padding-left: toUnit(16);
        padding-right: toUnit(16);
        margin: removeQuote($ui.constant.zero) removeQuote($ui.constant.auto);
    }
}