+init() {
    .header {
        background-color: $ui.color.dark;
        padding-top: toUnit(8);
        padding-bottom: toUnit(8);
        text-align: left;
    }

    .heading {
        vertical-align: middle;
        display: inline-block;

        img {
            display: block;
            // padding: 0 toUnit(64);
        }
    }
}