+init() {
    .navigation {
        font-family: removeQuote($ui.font.OpenSans.family);

        ul {
            list-style-type: none;
        }

        li {
            display: inline-block;
            padding: toUnit($ui.constant.zero) 2.5rem;
        }

        a {
            color: $ui.color.white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 2.4rem;
            transition: all .5s;

            &:hover {
                color: $ui.color.yellow;
                transition: all .5s;
            }
        }
    }
}