+init() {
    .full-height {
        height: 100vh;

        &.min-height {
            height: auto;
            min-height: 100vh;
        }
    }

    .full-width {
        width: percentage(100);

        &.min-width {
            width: auto;
            min-width: percentage(100);
        }
    }
}