/**
 *  @name separations
 *  @desc generate $ui.separations to helper classes
 */
+init() {
    for $side in $ui.separations {
        .margin-{$side} {
            margin-{$side}: toUnit(16);

            &.margin-double {
                margin-{$side}: toUnit(32);
            }
        }

        .padding-{$side} {
            padding-{$side}: toUnit(16);

            &.padding-double {
                padding-{$side}: toUnit(32);
            }
        }
    }
}
