for $fontKey, $font in $ui.font {
    // TODO: Need to implement mechanism form importing fonts dynamically from config
}

@font-face {
    font-family: 'open-sans';
    src: url("/fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
    
    // TODO: Convert web fonts
    // src: url('/fonts/open-sans/OpenSans-Regular.woff2') format('woff2'), 
    //     url('/fonts/open-sans/OpenSans-Regular.woff') format('woff'),
    //     url('/fonts/open-sans/OpenSans-Regular.eot') format('embedded-opentype'),
    //     url("/fonts/open-sans/open-sans/OpenSans-Regular.ttf") format("truetype");
}


@font-face {
    font-family: 'helvetica-neue-extended';
    src: url("/fonts/helvetica-neue-extended/HelveticaNeue-Extended.otf") format("opentype");
    
    // TODO: Convert web fonts
    // src: url('/fonts/helvetica-neue-extended/HelveticaNeue-Extended.woff2') format('woff2'), 
    //     url('/fonts/helvetica-neue-extended/HelveticaNeue-Extended.woff') format('woff'),
    //     url('/fonts/helvetica-neue-extended/HelveticaNeue-Extended.eot') format('embedded-opentype'),
    //     url("/fonts/helvetica-neue-extended/open-sans/HelveticaNeue-Extended.ttf") format("truetype");
}