+init() {
    .input-text-wrapper {
        border: solid toUnit(1) $ui.color.dark;
        border-radius: toUnit(10);
        padding: toUnit(8) toUnit(12);
        vertical-align: middle;
        outline: none;
        box-shadow: inset removeQuote($ui.constant.zero) toUnit(2) toUnit(1) removeQuote($ui.constant.zero) rgba(0, 0, 0, .2);
    }
}