+init() {
    section {
        padding-top: toUnit(32);
        padding-bottom: toUnit(32);
        
        h2 {
            font-size: toUnit(48);
        }

        p {
            font-size: toUnit(36);
        }

        .separated-bottom {
            margin-bottom: toUnit(42);
        }
    }
}