$__modules__ = {
    base: 'variables' 'functions' 'mixins' 'reset',
    helpers: 'dimensions' 'typo' 'colors' 'alignings' 'separations' 'sprites' 'misc',
    components: 'grid' 'form' 'button',
    layout: 'header' 'navigation' 'content' 'footer',
    pages: 'home',
    themes: 'default'
}

for moduleName, components in $__modules__ {
    for component in components {
        $path = pathjoin(moduleName, component);
        
        @import $path;
    }
}